@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile Test</title>
</head>
<body>
    <div>
        <ul>
            <li>
                TestString: @ViewBag.TestString
            </li>
            <li>
                DateTime: @ViewBag.CurrentDateTime
            </li>
            <li>
                TestObject: @ViewBag.TestObject
            </li>
            <li>
                TestObjectId: @ViewBag.TestObjectId
            </li>
            <li>
                TestObjectName: @ViewBag.TestObjectName
            </li>
            <li>
                TestObjectModifiedDateTime: @ViewBag.TestObjectModifiedDateTime
            </li>
            <li>
                TestObjectCount: @ViewBag.TestObjectCount
            </li>
        </ul>
    </div>
</body>
</html>
